.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 20px;
}

.edited {
    margin-right: 15px;
    color: gray;
    font-size: smaller;
}

.add-post {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.add-post:hover {
    background-color: #45a049;
}